.fondo{
    background-image: url(../img/aprender-css-jugando3.jpeg-1.webp);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Unbounded', sans-serif;
    height: 100%;
}
.content{
    width: 600px;
    margin: auto;
    text-align: center;
    background-color:#fc5956;
    border: solid 2px #3d1734;
    display: flex;
    justify-content: space-between;
    
    div{
        width: 300px;
        padding-bottom: 10px;
    }
    
    div:last-child{
        border-left:solid 1px #3d1734;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    h1{
        font-size: 25px;
        font-weight: 700;
    }

    a{
        font-weight: 600;
        text-decoration: none;
    }

    a:hover{
        color: rgba(230, 230, 107, 0.776);
    }
    
    hr{
        width: 100%;
        color: #3d1734;
    }
}